{% extends 'form.html' %}
 
{% load staticfiles %}
{% block import_form_files %}
    <script type="text/javascript" src="{% static 'jobuser/js/finish.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'jobuser/css/work-finish.css' %}" />
{% endblock %}

{% block title %}Finish <a href="{% url 'job:detail' job.random_string %}">{{ job.title }}</a>{% endblock %}

{% block form_data %}
{% for field in form %}
    <div id="{{ field.auto_id }}-wrapper">
        <div class="row">
            <div class="col-md-2">
                {{ field.label }}
            </div>
            <div class="col-md-10">
                {{ field }}
                {{ field.errors }}
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}

{% block back_button %}{% url 'job:detail' job.random_string %}{% endblock %}