{% extends 'base.html' %}

{% load staticfiles %}
{% block import %}
    <link rel="stylesheet" type="text/css" href="{% static 'job/CSS/detail.css' %}" />
    <script type="text/javascript" src="{% static 'job/JavaScript/detail.js' %}" ></script>
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block content %}
    <form action="{{ request.get_full_path }}" method="POST">
        <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_DF7zGC0IPpcOQyWr2nWHVLZ6"
            data-amount="{{ amount }}"
            data-name="Ourjobfund"
            data-description="Widget"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto">
        </script>
    </form>
{% endblock %}