{% extends 'base.html' %}

{% load static %}
{% block import %}
    <link rel="stylesheet" type="text/css" href="{% static 'jobuser/css/pay.css' %}" />
    <script type="text/javascript" src="{% static 'jobuser/js/pay.js' %}"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h4 class="title">
            Payment to <a href="{% url 'user:detail' receiver.get_username %}">{{ receiver.get_username }}</a>
            for <a href="{% url 'job:detail' sender_jobuser.job.random_string %}">{{ sender_jobuser.job.title }}</a>
        </h4>
    </div>
</div>
<form id="create-job" action="{{ request.get_full_path }}" method="POST">
{% csrf_token %}
{% for field in form %}
    <div class="row">
        <div class="col-md-2">
            {{ field.label }}
        </div>
        <div class="col-md-10">
            {{ field }}
            {{ field.errors }}
        </div>
    </div>
{% endfor %}
</form>
<div class="row">
    <div class="col-md-2 col-md-offset-2">
        <input form="create-job" id="pay" type="submit" value="Submit" />
    </div>
    <div class="col-md-2">
        <form action="{% url 'job:detail' sender_jobuser.job.random_string %}">
            <input type="submit" value="Cancel" />
        </form>
    </div>
</div>   
<input id="stripe_token" name="stripeToken" type="hidden" />
{% endblock %}
