{% extends 'base.html' %}
 
{% load staticfiles %}
{% block import %}
    <script type="text/javascript" src="{% static 'jobuser/js/pledge.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'jobuser/css/pledge.css' %}" />
{% endblock %}
 
{% block content %}
<form id="form" action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data">
{% csrf_token %}
    <div class="row info_row">
        <div class="col-md-12">
            <h4 id="title">
                Pledge to
                <a href="{% url 'job:detail' job.random_string %}">{{ job.name }}</a>
            </h4>
        </div>
    </div>
    {% for field in form %}
    <div id="{{ field.auto_id }}-wrapper">
        <div class="row info_row">
            <div class="col-md-2">
                {{ field.label }}
            </div>
            <div class="col-md-10">
                {% if field.auto_id == 'id_amount' %}
                $
                {% endif %}
                {{ field }}
                {{ field.errors }}
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="row info_row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <input id="submit_button" type="submit" value="Submit" />
        </div>
    </div>
</form>
{% endblock %}