{% extends 'base.html' %}

{% load staticfiles %}
{% block import %}
    <link rel="stylesheet" type="text/css" href="{% static 'user/CSS/post_update.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <form action="{% url 'jobuser:post_update' workjob.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-12">
                Update for {{ workjob.job.name }}
            </div>
            <div class="col-md-12">
                {{ update_form.title.label }}
                {{ update_form.title }}
            </div>
            <div class="col-md-12">
                {{ update_form.images }}
            </div>
            <div class="col-md-12">
                {{ update_form.description.label }}
            </div>
            <div class="col-md-12">
                {{ update_form.description }}
            </div>
            <div class="col-md-12">
                <input type="submit" value="Submit" />
            </div>
        </form>
    </div>
</div>    
{% endblock %}