{% extends 'base.html' %}

{% load static %}
{% block import %}
    <link rel="stylesheet" type="text/css" href="{% static 'jobuser/css/pay.css' %}" />
    <script type="text/javascript" src="{% static 'jobuser/js/pay.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h4 class="title">Received payment for <a href="{% url 'job:detail' jobuser.job.random_string %}">{{ jobuser.job.title }}</a></h4>
    </div>
</div>
<form action="{{ request.get_full_path }}" method="POST">
{% csrf_token %}
{% for field in form %}
    <div class="row">
        <div class="col-md-2">
            {{ field.label }}
        </div>
        <div class="col-md-10">
            {{ field }}
            {{ field.errors }}
        </div>
    </div>
{% endfor %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <input id="pay" type="submit" value="Submit" />
        </div>
    </div>
</form>
{% endblock %}