{% extends 'base.html' %}

{% load staticfiles %}
{% block import %}
    <script type="text/javascript" src="{% static 'pay/js/verification.js' %}" ></script>
    <link rel="stylesheet" type="text/css" href="{% static 'pay/css/verification.css' %}" />
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
    {% for p in payments %}
        {% if p.type == 'Other' and not p.verified %}
        <div class="row">
            <div class="col-md-12">
                <a href="{% url 'user:detail' p.sender.username %}">{{ p.sender.username }}</a> is awaiting verification on their payment of ${{ p.amount|floatformat:"2" }} to you on {{ p.date }}.
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endblock %}