{% extends 'base.html' %}

{% load staticfiles %}
{% block import %}
    <link rel="stylesheet" type="text/css" href="{% static 'jobuser/CSS/view_update.css' %}" />
    <script type="text/javascript" src="{% static 'jobuser/JavaScript/view_update.js' %}" ></script>
{% endblock %}

{% block content %}
<input id="update_id" type="hidden" value="{{ update.id }}" />
<div class="row">
    <div class="col-md-12">
        Job: <a href="{% url 'job:detail' update.jobuser.job.random_string %}">{{ update.jobuser.job.name }}</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        Updated: {{ update.updated }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        Title: {{ update.title }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        By: {{ update.jobuser.user.username }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
    {% if update.image_set.all.count > 0 %}
        <div id="images">
        {% for image in update.image_set.all %}
            <img src="{{ image.image.url }}" class="img-responsive image">
        {% endfor %}
        </div>
    {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        Description: {{ update.description }}
    </div>
</div>
{% endblock %}