{% extends 'base.html' %}

{% load staticfiles %}
{% block import %}
    <link rel="stylesheet" type="text/css" href="{% static 'user/CSS/view_updates.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            Updates
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table>
                {% for update in user.notification_set.order_by__date_sent %}
                    <tr>
                        <td><a href="{% url 'jobuser:view_update' update.id %}">{{ update.text }}</a></td>
                    </tr>
                {% empty %}
                    No updates
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}