{% extends 'base.html' %}

{% load static %}
{% block import %}
    <link rel="stylesheet" type="text/css" href="{% static 'jobuser/css/work-history.css' %}" />
    <script type="text/javascript" src="{% static 'jobuser/js/history.js' %}"></script>
    <script type="text/javascript" src="{% static 'jobuser/js/work-history.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h4 class="title">Work History for <a href="{% url 'job:detail' job.random_string %}">{{ job.title }}</a></h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="work-history" class="table">
            <thead>
                <tr>
                    <th class="username"><span class="table-header">Username</span><span class="total">{{ total }}</span></th>
                    <th class="date"><span class="table-header">Date</span></th>
                    <th class="type"><span class="table-header">Type</span></th>
                    <th class="amount"><span class="table-header">Amount</span></th>
                    <th class="from"><span class="table-header">From</span></th>
                    <th class="confirmed"><span class="table-header">Confirmed</span></th>
                </tr>
            </thead>
            <tbody>
            {% for p in set %}
                <tr>
                    <td class="username">
                        {% if p.jobuser.user.is_active %}
                        <a href="{% url 'user:detail' p.jobuser.user.get_username %}">
                            {{ p.jobuser.user.get_username }}
                        </a>
                        {% else %}
                        [ Deleted User ]
                        {% endif %}
                    </td>
                    <td class="date">
                        {{ p.date|date:"m/d/Y" }}
                    </td>
                    <td class="type">
                        {% if p.get_type == 'Misc. Payment' or p.get_type == 'Stripe Payment' %}
                        Received
                        {% else %}
                        {{ p.get_type }}
                        {% endif %}
                    </td>
                    <td class="amount">
                        {% if p.get_type == 'Misc. Payment' or p.get_type == 'Stripe Payment' %}
                        ${{ p.amount|floatformat:2 }}
                        {% else %}
                        N/A
                        {% endif %}
                    </td>
                    <td class="from">
                        {% if p.get_type == "Stripe Payment" or p.get_type == "Misc. Payment" %}
                        <a href="{% url 'user:detail' p.receiver.user.username %}">{{ p.receiver.user.username }}</a>
                        {% else %}
                        N/A
                        {% endif %}
                    </td>
                    <td class="confirmed">
                        {% if p.get_type == "Misc. Payment" %}
                        {{ p.confirmed }}
                        {% else %}
                        N/A
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td class="username">No Workers.</td>
                    <td class="date"></td>
                    <td class="type"></td>
                    <td class="amount"></td>
                    <td class="from"></td>
                    <td class="confirmed"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}