{% extends 'base.html' %}

{% load staticfiles %}
{% block import %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/account.css' %}" />
    <link rel="stylesheet" type="text/js" href="{% static 'JavaScript/account.js' %}" />
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <td>First Name:</td>
                <td>{{ user.first_name }}</td>
                <td><span class="pencil">&#9998;</span></td>
                <td><button type="button">Edit</button></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td>{{ user.last_name }}</td>
                <td><span class="pencil">&#9998;</span></td>
                <td><button type="button">Edit</button></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{ user.email }}</td>
                <td><span class="pencil">&#9998;</span></td>
                <td><button type="button">Edit</button></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><span id="password-span">*********</span></td>
                <td><span class="pencil">&#9998;</span></td>
                <td><button type="button">Edit</button></td>
            </tr> 
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button type="button">Delete Account</button>
    </div>
</div>
{% endblock %}
