{% extends 'base.html' %}

{% load staticfiles %}
{% block import %}
    <link rel="stylesheet" type="text/css" href="{% static 'info/CSS/account.css' %}" />
    <link rel="stylesheet" type="text/js" href="{% static 'info/JavaScript/account.js' %}" />
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <td class="title">First Name:</td>
                <td class="user_info">{{ user.first_name }}</td>
                <td><input class="change" type="button" value="Edit" /></td>
            </tr>
            <tr>
                <td class="title">Last Name:</td>
                <td class="user_info">{{ user.last_name }}</td>
                <td><button class="change" type="button">Edit</button></td>
            </tr>
            <tr>
                <td class="title">Email:</td>
                <td class="user_info">{{ user.email }}</td>
                <td><button class="change" type="button">Edit</button></td>
            </tr>
            <tr>
                <td class="title">Password:</td>
                <td class="user_info"><span id="password-span">*********</span></td>
                <td><button class="change" type="button">Edit</button></td>
            </tr> 
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button type="button">Delete Account</button>
    </div>
</div>
{% endblock %}
