# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


#Hidden files
.stripe
.django
.sendgrid

# Database stuff
db.sqlite3
filter/migrations/*
job/migrations/*
jobuser/migrations/*
update/migrations/*
user/migrations/*

# ./__pycache__ stuff
about/__pycache__/*
contact/__pycache__/*
filter/__pycache__/*
job/__pycache__/*
jobuser/__pycache__/*
notification/__pycache__/*
ourjobfund/__pycache__/*
terms_of_service/__pycache__/*
update/__pycache__/*
user/__pycache__/*
sendgrid.env
