{% extends 'base.html' %}

{% load staticfiles %}
{% block import %}
    <script type="text/javascript" src="{% static 'js/password_reset_form.js' %}" ></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset_form.css' %}" />
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h4 class="title">Retrieve Password</h4>
    </div>
</div>
<form id="forgot_password_form" method="POST">
    <div class="row">
        {% csrf_token %}
    {% for field in form %}
        <div class="col-md-3">Email</div>
        <div class="col-md-6">{{ field }}</div>
    {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <button type="submit">Submit</button>
        </div>
    </div>
</form>
{% endblock %}