{% extends 'base.html' %}

{% load staticfiles %}
{% block import %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'job/JavaScript/add_job.js' %}" ></script>
    <link rel="stylesheet" type="text/css" href="{% static 'job/CSS/add_job.css' %}" />
{% endblock %}


{% block body %}
<div class="container-fluid">
    <form id="create-job-form" method="POST" action="{% url 'job:add_job' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                {{ form.name.label_tag }} {{ form.name }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="location" class="text_label">
                    Location (optional):
                </label>
                <input id="location" type="text" name="location" />
                <div id="location-validation"></div>
            </div>
        </div>
        <input type="hidden" id="latitude-unused" name="latitude" />
        <input type="hidden" id="longitude-unused" name="longitude" />
        <div class="row">
            <div class="col-md-12">
                {{ form.tags.label_tag }} {{ form.tags }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form.description.label_tag }} {{ form.description }}
            </div>
        </div>
        <input type="submit" value="Create Job" />
    </form>
    <form id="create-job-form-two" method="POST" action="{% url 'job:add_job' %}">
        {% csrf_token %}
        <input type="hidden" id="name" name="name" />
        <input type="hidden" id="latitude" name="latitude" />
        <input type="hidden" id="longitude" name="longitude" />
        <input type="hidden" id="tags" name="tags" />
        <input type="hidden" id="description" name="description" />
    </form>
    
</div>
{% endblock %}