{% extends 'base.html' %}

{% load static %}
{% block import %}
    <link rel="stylesheet" type="text/css" href="{% static 'job/css/ban-user.css' %}" />
    <script type="text/javascript" src="{% static 'job/js/ban-user.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h4 class="title">
            {% if jobuser.banned %}
            Unban
            {% else %}
            Ban
            {% endif %}
            <a href="{% url 'user:detail' user.get_username }}">{{ user.get_username }}</a>
            from
            <a href="{% url 'job:detail' job.random_string }}">{{ job.title }}</a>
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <table class="table">
            <thead>
                <tr>
                    <th class="date">Date</td>
                    <th class="type">Type</td>
                    <th class="amount">Amount</td>
                    <th class="to">To</td>
                </tr>
            </thead>
            <tbody>
            {% for event in user_events %}
                <tr>
                    <td class="date">{{ event.get_date|date:"F d, Y" }}</td>
                    <td class="type">{{ event.get_type }}</td>
                    <td class="amount">{{ event.get_amount }}</td>
                    <td class="to">{{ event.get_to }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form action="{{ request.get_full_path }}" method="POST">
        {% csrf_token %}
            <input type="submit" value="{% if user_jobuser.banned %}Unban{% else %}Ban{% endif %}" name="{% if user_jobuser.banned %}Unban{% else %}Ban{% endif %}" />
        </form>
    </div>
</div>
{% endblock %}