{% extends 'base.html' %}

{% load staticfiles %}
{% block import %}
    <script type="text/javascript" src="{% static 'job/JavaScript/create_job.js' %}" ></script>
    <link rel="stylesheet" type="text/css" href="{% static 'job/CSS/create_job.css' %}" />
{% endblock %}


{% block content %}
<form id="create-job-form" method="POST" action="{% url 'job:create_job' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-2">
            {{ form.name.label_tag }}
         </div>
        <div class="col-md-10">
            {{ form.name }}    
        </div>
    </div>
    {{ form.latitude }}
    {{ form.longitude }}
    <div class="row">
        <div class="col-md-2">
            {{ form.location.label_tag }}
        </div>
        <div class="col-md-10">
            {{ form.location }}
        </div>
        <div id="location-validation"></div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{ form.tags.label_tag }}
        </div>
        <div class="col-md-10">
            {{ form.tags }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{ form.images.label_tag }}
        </div>
        <div class="col-md-10">
            {{ form.images }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{ form.description.label_tag }}
        </div>
        <div class="col-md-10">
            {{ form.description }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2">
            <input type="submit" value="Create Job" />
        </div>
    </div>
</form>
{% endblock %}