{% extends 'base.html' %}

{% load staticfiles %}
{% block import %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3pteK4Epn8dFH03DGk97K7ICo_FwYht0"></script>
    <script type="text/javascript" src="{% static 'job/js/create.js' %}" ></script>
    <link rel="stylesheet" type="text/css" href="{% static 'job/css/create.css' %}" />
    {{ form.media }}
{% endblock %}

{% block content %}
<form id="create-job-form" method="POST" action="{{ request.get_full_path }}" enctype="multipart/form-data">
{% csrf_token %}
    {{ form.latitude }}{{ form.latitude.errors }}
    {{ form.longitude }}{{ form.longitude.errors }}
{% for field in form %}
    {% if field.auto_id != "id_longitude" and field.auto_id != "id_latitude" %} 
    <div class="row">
        <div class="col-md-2">
            {{ field.label_tag }}
        </div>
        <div class="col-md-10">
            {{ field }}{{ field.errors }}
        </div>
    </div>
    {% endif %}
{% endfor %} 
    <div class="row">
        <div class="col-md-10 col-md-offset-2">
            <input type="submit" value="Create Job" name="create-job" />
        </div>
    </div>
</form>
{% endblock %}