{% extends 'base.html' %}

{% load static %}
{% block import %}
    <link rel="stylesheet" type="text/css" href="{% static 'job/css/detail.css' %}" />
    <script type="text/javascript" src="{% static 'job/js/detail.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row info_row">
    <div class="col-md-12">
        <h4 id="job_name">{{ job.name }}</h4>
    </div>
</div>
<div class="row info_row">
    <div class="col-md-6">
        <span id="tags">
        {% if job.tag_set.all.count > 0 %}
            Tags:
        {% for tag in job.tag_set.all %}
            {{ tag.tag }}
        {% endfor %}
        {% endif %}
        </span>
    </div>
    <div class="col-md-6">
         <span class="info_info">
            {% if job.location %}
            Location:&nbsp;{{ job.location }}            
            {% endif %}
        </span>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-6">
                <h4>Description</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="updates" class="table">
                    <thead>
                        <tr>
                            <th class="updates-date"><span class="table-header">Date</span></th>
                            <th class="updates-username"><span class="table-header">Username</span></th>
                            <th class="updates-description"><span class="table-header">Description</span></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for u in updates %}
                        <tr>
                            <td class="updates-date">
                                {{ u.date|date:"d/m/y" }}
                            </td>
                            <td class="updates-username">
                                <a href="{% url 'user:detail' u.jobuser.user.username %}">{{ u.jobuser.user.username }}</a>
                            </td>
                            <td class="updates-description">
                                {{ u.description }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="updates-date">Total: <span id="updates-total">{{ updates.count }}</span></td>
                            <td class="updates-username"></td>
                            <td class="updates-description"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="row">
            {% if jobuser %}
            <div class="col-md-12">
                <form action="{% url 'create-update' job.random_string %}">
                    <input class="pledge_work_inputs" type="submit" value="Update" />
                </form>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-md-7">
        <div class="row info_row header">
            <div class="col-md-6">
                <h4>Pledges</h4>
            </div>
            <div class="col-md-6">
                {% if request.user.is_authenticated %}
                {% if not jobuser or jobuser.work_status == '' %}
                <form action="{% url 'pledge' job.random_string %}">
                    <input class="pledge_work_inputs" type="submit" value="Pledge" name="pledge" />
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="row info_row">
            <div class="col-md-12">
                <table id="pledges" class="table">
                    <thead>
                        <tr>
                            <th class="pledges-username"><span class="table-header">Username<span></th>
                            <th class="pledges-pledged"><span class="table-header">Pledged<span></th>
                            <th class="pledges-paid"><span class="table-header">Paid</span></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for j in pledges %}
                        <tr>
                            <td class="pledges-username">
                                {% if j.user.is_active %}
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'user:detail' j.user.username %}">
                                    {{ j.user.username }}
                                </a>
                                {% else %}
                                <span>{{ j.user.username }}</span>
                                {% endif %}
                                {% else %}
                                <span>[ Deleted User ]</span>
                                {% endif %}
                            </td>
                            <td class="pledges-pledged">${{ j.pledged|floatformat:2 }}</td>
                            <td class="pledges-paid">${{ j.paid|floatformat:2 }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="pledges-username">Total: <span id="pledges-total">{{ pledges.count }}</span></td>
                            <td class="pledges-pledges"></td>
                            <td class="pledges-paid"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="row info_row header">
            <div class="col-md-6">
                <h4>Workers</h4>
            </div>
            {% if request.user.is_authenticated %}
            {% if not jobuser or jobuser.pledged == 0 and jobuser.work_status != 'finish' %}
            <div class="col-md-6">
                <form action="{% url 'work' job.random_string %}">
                    <input class="pledge_work_inputs" type="submit"
                        value="{% if jobuser.work_status == 'work' %}Finish{% else %}Work{% endif %}" name="work" />
                </form>
            </div>
            {% endif %}
            {% endif %}
        </div>
        <div class="row info_row">
            <div class="col-md-12">
                <table id="workers" class="table">
                    <thead>
                        <tr>
                            <th class="workers-username"><span class="table-header">Username</span></th>
                            <th class="workers-status"><span class="table-header">Status</span></th>
                            <th class="workers-received"><span class="table-header">Received</span></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for w in workers %}
                        <tr>
                            <td class="workers-username">
                                {% if w.user.is_active %}
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'user:detail' w.user.username %}">
                                    {{ w.user.username }}
                                </a>
                                {% else %}
                                <span>{{ w.user.username }}</span>
                                {% endif %}
                                {% else %}
                                <span>[ Deleted User ]</span>
                                {% endif %}
                            </td>
                            <td class="workers-status">{{ w.work_status }}</td>
                            <td class="workers-received">${{ w.received|floatformat:2 }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="workers-username">Total: <span id="workers-total">{{ workers.count }}</span></td>
                            <td class="workers-status"></td>
                            <td class="workers-received"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}