{% extends 'base.html' %}

{% load static %}
{% block import %}
    <link rel="stylesheet" type="text/css" href="{% static 'job/css/detail.css' %}" />
    <script type="text/javascript" src="{% static 'job/js/detail.js' %}"></script>
{% endblock %}

{% block content %}
<input id="username" type="hidden" value="{% if request.user.is_authenticated %}{{ request.user.username }}{% endif %}" />
<input id="random_string" type="hidden" value="{{ job.random_string }}" />
<div class="row">
    <div class="col-md-7 col-md-offset-5">
        <h4>{{ job.title }}</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <span id="tags">
        {% if job.tag_set.all.count > 0 %}
            Tags:
        {% for tag in job.tag_set.all %}
            <a href="{% url 'home' %}?tag={{ tag.tag }}">{{ tag.tag }}</a>
        {% endfor %}
        {% endif %}
        </span>
    </div>
    <div class="col-md-6">
         <span id="location">
            {% if job.location %}
            Location:&nbsp;<a href="{% url 'home' %}?location={{ job.location }}">{{ job.location }}</a>            
            {% endif %}
        </span>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-12">
                <table id="updates" class="table">
                    <thead>
                        <tr>
                            <th class="updates-username"><span class="table-header">Updates</span><span class="
                            total">{{ updates.count }}</span></th>
                            <th class="updates-date"><span class="table-header">Date</span></th>
                            <th class="updates-images"><span class="table-header">Images</span></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for u in updates %}
                        <tr>
                            <td class="updates-username">
                                <a href="{% url 'user:detail' u.jobuser.user.username %}">{{ u.jobuser.user.username }}</a>
                            </td>
                            <td class="updates-date">
                                <span class="updates-date">{{ u.date|date:"F d, Y" }}</span>
                            </td>
                            <td class="updates-images">
                                <span class="updates-images">
                                    {% if u.image_set.all.exists %}
                                    <a href="{% url 'update:images' u.random_string %}">
                                        {{ u.image_set.all.count }}
                                    </a>
                                    {% else %}
                                    0
                                    {% endif %}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="updates-comment" colspan="3">
                                {{ u.comment }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% if not job.is_finished %}
        {% if request.user.is_authenticated %}
        {% if jobuser %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form action="{% url 'update:create' job.random_string %}">
                    <input id="update" type="submit" value="Update" />
                </form>
            </div>
        </div>
        {% endif %}
        {% if jobuser.work_set.all.exists %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form action="{% url 'job:received-payment' job.random_string %}">
                    <input id="pay" type="submit" value="Outside Payment" name="pay" />
                </form>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form action="{% url 'pledge' job.random_string %}">
                    <input id="pledge" type="submit" value="Pledge" name="pledge" />
                </form>
            </div>
        </div>
        {% endif %}
        {% if jobuser.work_set.all.exists and not jobuser.finish_set.exists %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form action="{% url 'finish' job.random_string %}">
                    <input id="finish" type="submit" value="Finish" name="finish" />
                </form>
            </div>
        </div>
        {% elif not jobuser.finish_set.exists and not jobuser.pledge_set.exists %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form action="{% url 'work' job.random_string %}">
                    <input id="work" type="submit" value="Work" name="work" />
                </form>
            </div>
        </div>
        {% endif %}
        {% if unconfirmed_payments %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form action="{% url 'unconfirmed-payments' job.random_string %}">
                    <input id="confirm_payments" type="submit" value="Confirm Payments" />
                </form>
            </div>
        </div>
        {% endif %}
        {% endif %}
        {% endif %}
    </div>
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-12">
                <table id="pledging" class="table">
                    <thead>
                        <tr>
                            <th class="pledging-username"><span class="table-header">Pledgers</span><span class="total">{{ pledging_total }}</span></th>
                            <th class="pledging-date"><span class="table-header">Date Pledged</span></th>
                            <th class="pledging-pledging"><span class="table-header">Pledge</span><span class="total">${{  job.pledging|floatformat:2 }}</span></th>
                            <th class="pledging-paid"><span class="table-header">Paid</span><span class="total">${{ job.paid|floatformat:2 }}</span></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for j in pledging %}
                        <tr>
                            <td class="pledging-username">
                                {% if j.user.is_active %}
                                <a href="{% url 'user:detail' j.user.username %}">
                                    {{ j.user.username }}
                                </a>
                                {% else %}
                                <span>[ Deleted User ]</span>
                                {% endif %}
                            </td>
                            <td class="pledging-date">
                                {% with pledge=j.pledge_set.all|dictsort:"date"|first %}
                                {{ pledge.date|date:"F d, Y" }}
                                {% endwith %}
                            </td>
                            <td class="pledging-pledging">
                                ${{ j.pledging|floatformat:2 }}
                            </td>
                            <td class="pledging-paid">${{ j.paid|floatformat:2 }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="history">
                    <a href="{% url 'pledge-history' job.random_string %}">
                        History
                    </a>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="working" class="table">
                    <thead>
                        <tr>
                            <th class="working-username"><span class="table-header">Workers</span><span class="total">{{ job.working }}</span></th>
                            <th class="working-started"><span class="table-header">Started</span></th>
                            <th class="working-finished"><span class="table-header">Finished</span></th>
                            <th class="working-received"><span class="table-header">Received</span></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for w in working %}
                        <tr>
                            <td class="working-username">
                                {% if w.user.is_active %}
                                <a href="{% url 'user:detail' w.user.username %}">
                                    {{ w.user.username }}
                                </a>
                                {% else %}
                                <span>[ Deleted User ]</span>
                                {% endif %}
                            </td>
                            <td class="working-started">
                                {% with work=w.work_set.all|dictsort:"date"|first %}
                                {{ work.date|date:"F d, Y" }}
                                {% endwith %}
                            </td>
                            <td class="working-finished">{% if w.finish_set.all.exists %}{{ w.finish_set.all.first.date|date:"F d, Y" }}{% else %}N/A{% endif %}</td>
                            <td class="working-received">${{ w.received|floatformat:2 }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="history">
                    <a href="{% url 'work-history' job.random_string %}">
                        History
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock %}