{% extends 'base.html' %}

{% load static %}
{% block import %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3pteK4Epn8dFH03DGk97K7ICo_FwYht0&callback=initMap" async defer></script>
    <link rel="stylesheet" type="text/css" href="{% static 'job/css/home.css' %}" />
    <script type="text/javascript" src="{% static 'job/js/home.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-2">
        <div class="row margin-row">
            <div class="col-md-12">
                <input id="location" class="search" type="text" value="{{ location }}" placeholder="postal code" />
            </div>
        </div>
        <!--
        <div class="row margin-row">
            <div class="col-md-12">
                <div id="map"></div>
            </div>
        </div>
        -->
        <div class="row margin-row">
            <div class="col-md-12">
                <input id="radius" type="text" placeholder="radius" />
                <span id="mi">mi</span>
            </div>
        </div>
        <div class="row margin-row">
            <div class="col-md-12">
                <span id="radius-error"></span>
            </div>
        </div>
        <input id="latitude" type="hidden" value="" />
        <input id="longitude" type="hidden" value="" />
    </div>
    <div class="col-md-9">
        <div class="row margin-row">
            <div class="col-md-12">
                <input id="search" class="search form-control" type="text" placeholder="search jobs" value="{{ tag }}" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="job-title"><span class="table-header">Title</span><span id="num-jobs-found" class="total">0</span></th>
                            <th class="job-created"><span class="table-header">Created</span></th>
                            <th class="job-pledging"><span class="table-header">Pledging</span></th>
                            <th class="job-paid"><span class="table-header">Paid</span></th>
                            <th class="job-working"><span class="table-header">Working</span></th>
                            <th class="job-finished"><span class="table-header">Finished</span></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
