{% extends 'base.html' %}

{% load static %}
{% block import %}
    <link rel="stylesheet" type="text/css" href="{% static 'job/css/moderate.css' %}" />
    <script type="text/javascript" src="{% static 'job/js/moderate.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h4 class="title">Moderate for <a href="{% url 'job:detail' job.random_string %}">{{ job.title }}</a></h4>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th class="updates-username"><span class="table-header">Updates</span><span class="total">{{ updates.count }}</span></th>
                    <th class="updates-date"><span class="table-header">Date</span></th>
                    <th class="updates-images"><span class="table-header">Images</span></th>
                    <th class="updates-ban"><span class="table-header">Action</span></th>
                </tr>
            </thead>
            <tbody>
            {% for u in updates %}
                <tr>
                    <td class="updates-username">
                        {% if u.jobuser.user.is_active %}
                        <a href="{% url 'user:detail' u.jobuser.user.get_username %}">
                            {{ u.jobuser.user.get_username }}
                        </a>
                        {% else %}
                        [ Deleted User ]
                        {% endif %}
                    </td>
                    <td class="updates-date">
                        {{ u.date|date:"F d, Y" }}
                    </td>
                    <td class="updates-images">
                        {% if u.image_set.all.exists %}
                        <a href="{% url 'update:images' u.random_string %}">
                            {{ u.image_set.all.count }}
                        </a>
                        {% else %}
                        0
                        {% endif %}
                    </td>
                    <td class="updates-ban">
                        <form action="{% url 'update:delete' u.random_string %}">
                            <input type="submit" value="Delete" name="{{ u.random_string }}" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td class="updates-comment" colspan="3">
                        {{ u.comment }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th class="users-username"><span class="table-header">User</span><span class="total">{{ users.count }}</span></th>
                    <th class="users-date"><span class="table-header">Joined</span></th>
                    <th class="users-ban"><span class="table-header">Action</span></th>
                </tr>
            </thead>
            <tbody>
                {% for jb in users_jobusers %}
                <tr>
                    <td class="users-username">
                        {% if jb.user.is_active %}
                        <a href="{% url 'user:detail' jb.user.get_username %}">{{ jb.user.get_username }}</a>
                        {% else %}
                        [ Deleted User ]
                        {% endif %}
                    </td>
                    <td class="users-date">{{ jb.joined|date:"F d, Y" }}</td>
                    <td class="users-ban">
                        <form action="{% url 'job:ban-user' jb.random_string %}">
                            <input type="submit" value="{% if jb.banned %}Unban{% else %}Ban{% endif %}" />
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}