{% extends 'base.html' %}

{% load staticfiles %}
{% block import %}
    <link rel="stylesheet" type="text/css" href="{% static 'user/CSS/new_user_just_created.css' %}" />
{% endblock %}

{% block body %} 
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form action="{% url 'job:pledge' %}">
                    <input type="button" value="Go to pledge list" />
                </form>
            </div>
            <div class="col-md-6">
                <form action="{% url 'job:work' %}">
                    <input type="button" value="Go to work list" />
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form action="{% url 'user:detail' user.id %}">
                    <input type="button" value="Go to profile" />
                </form>
            </div>
        <div>
    </div>
{% endblock %}