{% extends 'job/home.html' %}

{% load staticfiles %}
{% block importThree %}
    <script type="text/javascript" src="{% static 'job/JavaScript/pledge.js' %}" ></script>
    <link rel="stylesheet" type="text/css" href="{% static 'job/CSS/pledge.css' %}" />
{% endblock %}

{% block filter %}
    <div class="row">
        <div id="filter" class="col-md-12">
            Apply <input id="apply_metrics_text" type="text" />&nbsp;'s filter metric?
            <input id="apply_metrics" type="button" value="Apply" />
            <span id="apply_metrics_span"></span>
        </div>
    </div>

{% endblock %}