{% extends 'navbar.html' %}

{% load staticfiles %}
{% block importTwo %}
    <link rel="stylesheet" type="text/css" href="{% static 'job/CSS/view_workers.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Workers</h4>
            <table id="worker-table" class="table-bordered">
                {% for workjob in job.workjob_set.all %}  
                    <tr>
                        <td>
                            <a href="{% url 'user:detail' workjob.worker.username %}">{{ workjob.worker.username }}</a>
                        </td>
                        <td>
                            Been working since {{ workjob.date_joined }}
                        </td>
                        <td>
                            There are 
                            {% if workjob.workjobupdate_set.all.count == 0 %} 
                                0 updates
                            {% else %}
                                <a href="#">
                                    {{ workjob.workjobupdate_set.all.count }}
                                    update {{ workjob.workjobupdate_set.count|pluralize }} from this worker
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}    
                    None
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}