{% extends 'job/view_all_metrics.html' %}

{% load staticfiles %}
{% block importstatic %}
    <script type="text/javascript" src="{% static 'job/JavaScript/view_all_metrics_pledge.js' %}" ></script>
    <link rel="stylesheet" type="text/css" href="{% static 'job/CSS/view_all_metrics_pledge.css' %}" />
{% endblock %}

{% block header %}Remove workers who have:{% endblock %}
{% block content %}
    <input type="hidden" value="pledge" name="type" />
    <tr>
        <td align="right" class="col-md-5"><label for="id_inactive">inactive on the website for</label></td>
        <td align="center" class="col-md-1">
            {% if user.is_authenticated and user.username == username %}
                {{ form.inactive }}
            {% else %}
                {{ pledge_metrics.inactive }}
            {% endif %}
        </td>
        <td>
            {% if user.is_authenticated and user.username == username %}
                {{ form.inactive_unit }}
            {% else %}
                {{ pledge_metrics.inactive_unit }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td align="right" class="col-md-5"><label for="id_updated">updated their working status in the last</label></td>
        <td align="center" class="col-md-1">
            {% if user.is_authenticated and user.username == username %}
                {{ form.updated }}
            {% else %}
                {{ pledge_metrics.updated }}
            {% endif %}
        </td>
        <td>
            {% if user.is_authenticated and user.username == username %}
                {{ form.updated_unit }}
            {% else %}
                {{ pledge_metrics.updated_unit }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td align="right"><label for="id_completed_fewer">completed fewer than</label></td>
        <td align="center">
            {% if user.is_authenticated and user.username == username %}
                {{ form.completed_fewer }}
            {% else %}
                {{ pledge_metrics.completed_fewer }}
            {% endif %}
            </td>
        <td align="left"><label for="id_completed_fewer">job/s.</label></td>
    </tr>
    <tr>
        <td align="right"><label for="id_failed_to_complete">failed to complete more than</label></td>
        <td align="center">
            {% if user.is_authenticated and user.username == username %}        
                {{ form.failed_to_complete }}
            {% else %}
                {{ pledge_metrics.failed_to_complete }}
            {% endif %}
        </td>
        <td align="left"><label for="id_failed_to_complete">job/s.<label></td>
    </tr>
    <tr>
        <td align="right"><label for="id_completed_percent">completed</label></td>
        <td align="center">
            {% if user.is_authenticated and user.username == username %}    
                {{ form.completed_percent }}
            {% else %}
                {{ pledge_metrics.completed_percent }}
            {% endif %}
        </td>
        <td align="left"><label for="id_completed_percent">% of job/s accepted.<label></td>
    </tr>
    <tr>
        <td align="right"><label for="id_completed_ratio">at least a</label></td>
        <td align="center">
            {% if user.is_authenticated and user.username == username %}
                {{ form.completed_ratio }}
            {% else %}
                {{ pledge_metrics.complted_ratio }}
            {% endif %}
        </td>
        <td align="left"><label for="id_completed-ratio">completed-to-failed job ratio</label></td>
    </tr>
{% endblock %}