{% extends 'job/view_all_metrics.html' %}

{% load staticfiles %}
{% block importstatic %}
    <script type="text/javascript" src="{% static 'job/JavaScript/view_all_metrics_pledge.js' %}" ></script>
    <link rel="stylesheet" type="text/css" href="{% static 'job/CSS/view_all_metrics_pledge.css' %}" />
{% endblock %}

{% block header %}Remove workers who have:{% endblock %}
{% block content %}
    <input type="hidden" value="pledge" name="type" />
    <tr>
        <td align="right" class="col-md-5"><label for="id_inactive">inactive on the website for</label></td>
        <td align="center" class="col-md-1">{{ form.inactive }}</td>
        <td>
            {{ form.inactive_unit }}
        </td>
    </tr>
    <tr>
        <td align="right" class="col-md-5"><label for="id_updated">updated their working status in the last</label></td>
        <td align="center" class="col-md-1">{{ form.updated }}</td>
        <td>
            {{ form.updated_unit }}
        </td>
    </tr>
    <tr>
        <td align="right"><label for="id_completed_fewer">completed fewer than</label></td>
        <td align="center">{{ form.completed_fewer}}</td>
        <td align="left"><label for="id_completed_fewer">job/s.</label></td>
    </tr>
    <tr>
        <td align="right"><label for="id_failed_to_complete">failed to complete more than</label></td>
        <td align="center">{{ form.failed_to_complete }}</td>
        <td align="left"><label for="id_failed_to_complete">job/s.<label></td>
    </tr>
    <tr>
        <td align="right"><label for="id_completed_percent">completed</label></td>
        <td align="center">{{ form.completed_percent }}</td>
        <td align="left"><label for="id_completed_percent">% of job/s accepted.<label></td>
    </tr>
    <tr>
        <td align="right"><label for="id_completed_ratio">at least a</label></td>
        <td align="center">{{ form.completed_ratio }}</td>
        <td align="left"><label for="id_completed-ratio">completed-to-failed job ratio</label></td>
    </tr>
{% endblock %}