{% extends 'base.html' %}

{% load staticfiles %}
{% block import %}
    <script type="text/javascript" src="{% static 'update/js/create.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'update/css/create.css' %}" />
{% endblock %}

{% block content %}
<form id="post_update_form" action="{% url 'update:create' jobuser.job.random_string %}" method="POST" enctype="multipart/form-data">
{% csrf_token %}
    <div class="row info_row">
        <div class="col-md-12">
            <h4 id="update_for">Update for {{ jobuser.job.name }}</h4>
        </div>
    </div>
    <div class="row info_row">
        <div class="col-md-2">
            {{ form.type.label }}
        </div>
        <div class="col-md-10">
            {{ form.type }}
        </div>
    </div>
{% for field in form %}
    {% if field.auto_id != "id_type" %}
    <div id="{{ field.auto_id }}-wrapper">
        <div class="row info_row">
            <div class="col-md-2">
                {{ field.label }}
            </div>
            <div class="col-md-10">
                {{ field }}
            </div>
        </div>
    </div>
    {% endif %}
{% endfor %}
</form>
<div class="row info_row">
    <div class="col-md-2">
        <form action="{% url 'job:detail' jobuser.job.random_string %}">
            <input type="submit" value="Back" />
        </form>
    </div>
    <div class="col-md-2 col-md-offset-2">
        <input form="post_update_form" type="submit" value="Submit" />
    </div>

</div>
{% endblock %}