{% extends 'base.html' %}

{% load staticfiles %}
{% block import %}
    <script type="text/javascript" src="{% static 'update/js/create.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'update/css/create.css' %}" />
{% endblock %}

{% block content %}
<form id="post_update_form" action="{% url 'update:create' jobuser.job.random_string %}" method="POST" enctype="multipart/form-data">
{% csrf_token %}
    <div class="row info_row">
        <div class="col-md-12">
            <h4 id="update_for">Update for {{ jobuser.job.name }}</h4>
        </div>
    </div>
{% for field in form %}
    <div class="row info_row">
        <div class="col-md-2">
            {{ field.label }}
        </div>
        <div class="col-md-10">
            {{ field }}
        </div>
    </div>
{% endfor %}   
    <div class="row info_row">
        <div class="col-md-10 col-md-offset-2">
            <input type="submit" value="Submit" />
        </div>
    </div>
</form>
{% endblock %}