{% extends 'form.html' %}
 
{% load staticfiles %}
{% block import_form_files %}
    <script type="text/javascript" src="{% static 'update/js/create.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'update/css/create.css' %}" />
{% endblock %}
 
{% block title %}Update <a href="{% url 'job:detail' job.random_string %}">{{ job.title }}</a>{% endblock %}

{% block form_data %}
{% for field in form %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        {{ field }}{{ field.errors }}
    </div>
</div>
{% endfor %}
{% endblock %}

{% block back_button %}{% url 'job:detail' job.random_string %}{% endblock %}