{% extends 'base.html' %}

{% load static %}
{% block import %}
    <link rel="stylesheet" type="text/css" href="{% static 'update/css/delete.css' %}" />
    <script type="text/javascript" src="{% static 'update/js/delete.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3 id="title">Delete Update</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <div class="col-md-6">
                <a href="{% url 'user:detail' update.jobuser.user.get_username %}">{{ update.jobuser.user.get_username }}</a>
            </div>
            <div class="col-md-6">
                <span id="date">{{ update.date|date:"m/d/Y" }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span id="comment">{{ update.comment }}</span>
            </div>
        </div>
        <div id="image-wrapper">
            {% if update.image_set.all.exists %}
            <div class="col-md-12">
                <div id="images">
                {% for image in update.image_set.all %}
                    <img src="{{ image.image.url }}" class="img-responsive image" />
                {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-3">
                <form action="{{ request.get_full_path }}" method="POST">
                {% csrf_token %}
                    <input type="submit" value="Delete" name="Delete" />
                </form>
            </div>
            <div class="col-md-3">
                <form action="{% url 'job:moderate' update.jobuser.job.random_string %}">
                    <input type="submit" value="Cancel" />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}