#screen {
    margin-top: 45px;
}

.row {
    padding-top: 10px;
}

#advanced-options {
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

#tab-or {
    text-align: center;
}

#sign-up {
    text-align: left;
}

#ANDs_of_ORs, #ORs_of_ANDs, #custom, #refresh-button {
    background: none;
    border: none;
}

label {
    cursor: default;
}

.location-hide {
    display: none;
}

.hashtag-radio {
    font-weight: normal;
}

#empty-space {
    height: 100px;
}

#or {
    padding-top:10px;
    font-weight: bold;
}

#job_search_div {
    padding-top: 20px;
}

.table td {
    border: none !important;
}

#job_button {
    position: relative;
}

#filter {
    margin-top: 30px;
}

ul {
    list-style-type: none;
}

#radius {
    margin-top: 10px;
}

#Google_Map {
    overflow: hidden;
    height: 250px;
    width: 250px;
}

html, body {
  height: 100%;
}

#map-canvas {
  min-width: 100px;
  width: 100%;
  min-height: 200px;
  height: 100%;
}

#gmap_canvas img {
    max-width: none!important;
    background: none!important;
}

#main_table {
    display: block;
    position: relative;
    overflow: auto;
    height: 350px;
    top: 10px;
    bottom: 30px;
    border: 1px solid rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, .5);
}
