{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h4>OurJobFund.com Privacy Policy</h4>
        
        <p>&emsp;This privacy policy has been compiled to better serve those who are concerned with how their 'Personally Identifiable Information' (PII) is being used online. PII, as described in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p>

        </br>
        
        <h5><b>What personal information do we collect from the people that visit our blog, website or app?</b></h5>

        <p>&emsp;When ordering or registering on our site, as appropriate, you may be asked to enter your email address, credit card information or other details to help you with your experience.</p>
        
        </br>

        <h5><b>When do we collect information?</b></h5>

        <p>&emsp;We collect information from you when you register on our site, place an order or enter information on our site.</p>

        </br>
        
        <h5><b>How do we use your information?</b></h5>

        <p>&emsp;We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:</p>

            <p>• To allow us to better service you in responding to your customer service requests.</p>

        </br>    
            
        <h5><b>How do we protect your information?</b></h5>

        <p>&emsp;Our website is scanned on a regular basis for security holes and known vulnerabilities in order to make your visit to our site as safe as possible.</p>

        <p>&emsp;We use regular Malware Scanning.</p>

        <p>&emsp;Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology.</p>

        <p>&emsp;We implement a variety of security measures when a user places an order enters, submits, or accesses their information to maintain the safety of your personal information.</p>

        <p>&emsp;All transactions are processed through a gateway provider and are not stored or processed on our servers.</p>

        </br>
        
        <h5><b>Do we use 'cookies'?</b></h5>

        <p>&emsp;Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.</p>

        <p>&emsp;We use cookies to:</p>
        
            <p>• Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third-party services that track this information on our behalf.</p>

        <p>&emsp;You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since browser is a little different, look at your browser's Help Menu to learn the correct way to modify your cookies.</p>

        <p>&emsp;If users disable cookies in their browser:</p>

        <p>&emsp;If you turn cookies off it will turn off some of the features of the site.</p>
            
        </br>    

        <h5><b>Third-party disclosure</b></h5>

        <p>&emsp;We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information unless we provide users with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or serving our users, so long as those parties agree to keep this information confidential. We may also release information when it's release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property or safety.</p>

        <p>&emsp;However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>

        </br>
        
        <h5><b>Third-party links</b></h5>

        <p>&emsp;Occasionally, at our discretion, we may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</p>

        </br>
        
        <p><b>Google</b></p>

        <p>&emsp;Google's advertising requirements can be summed up by Google's Advertising Principles. They are put in place to provide a positive experience for users. <a href="https://support.google.com/adwordspolicy/answer/1316548?hl=en">https://support.google.com/adwordspolicy/answer/1316548?hl=en</a></p>

        <p>&emsp;We use Google AdSense Advertising on our website.</p>

        <p>&emsp;Google, as a third-party vendor, uses cookies to serve ads on our site. Google's use of the DART cookie enables it to serve ads to our users based on previous visits to our site and other sites on the Internet. Users may opt-out of the use of the DART cookie by visiting the Google Ad and Content Network privacy policy.</p>

        <p>We have implemented the following:</p>
            
            <p>• Demographics and Interests Reporting</p>

        <p>&emsp;We, along with third-party vendors such as Google use first-party cookies (such as the Google Analytics cookies) and third-party cookies (such as the DoubleClick cookie) or other third-party identifiers together to compile data regarding user interactions with ad impressions and other ad service functions as they relate to our website.</p>

        <p>Opting out:</p>
        
        <p>&emsp;Users can set preferences for how Google advertises to you using the Google Ad Settings page. Alternatively, you can opt out by visiting the Network Advertising Initiative Opt Out page or by using the Google Analytics Opt Out Browser add on.</p>

        </br>
        
        <h5><b>California Online Privacy Protection Act</b></h5>

        <p>&emsp;CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy. The law's reach stretches well beyond California to require any person or company in the United States (and conceivably the world) that operates websites collecting Personally Identifiable Information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those individuals or companies with whom it is being shared. - See more at: http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf</p>

        <p>According to CalOPPA, we agree to the following:</p>
        
        <p>&emsp;Users can visit our site anonymously.</p>
        
        <p>&emsp;Once this privacy policy is created, we will add a link to it on our home page or as a minimum, on the first significant page after entering our website.</p>
        
        <p>&emsp;Our Privacy Policy link includes the word 'Privacy' and can easily be found on the page specified above.</p>

        <h5>&emsp;You will be notified of any Privacy Policy changes:</h5>
        
        <p>&emsp;&emsp;• On our Privacy Policy Page</p>
            
        <h5>&emsp;Can change your personal information:</h5>
        
        <p>&emsp;&emsp;• By logging in to your account</p>

        </br>
        
        <h5><b>How does our site handle Do Not Track signals?</b></h5>
        
        <p>&emsp;We honor Do Not Track signals and Do Not Track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.</p>

        </br>
        
        <h5><b>Does our site allow third-party behavioral tracking?</b></h5>
        
        <p>&emsp;It's also important to note that we allow third-party behavioral tracking</p>

        </br>
        
        <h5><b>COPPA (Children Online Privacy Protection Act)</b></h5>

        <p>&emsp;When it comes to the collection of personal information from children under the age of 13 years old, the Children's Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, United States' consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children's privacy and safety online.</p>
        
        </br>
        
        <h5><b>Do we let third-parties, including ad networks or plug-ins collect PII from children under 13?</b></h5>
        
        <p>&emsp;We do not specifically market to children under the age of 13 years old.</p>       

        </br>
        
        <h5><b>Fair Information Practices</b><h5>

        <p>&emsp;The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.</p>

        </br>
        
        <h5><b>In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:</b></h5>
        
        <p>&emsp;We will notify you via email with 1 business day.</p>
        
        <p>&emsp;We will notify the users via in-site notification within 1 business day.</p>

        <p>&emsp;We also agree to the Individual Redress Principle which requires that individuals have the right to legally pursue enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or government agencies to investigate and/or prosecute non-compliance by data processors.</p>

        </br>
        
        <h5><b>CAN SPAM Act</b></h5>

        <p>&emsp;The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.</p>

        <h5>&emsp;We collect your email address in order to:</h5>
            <p>&emsp;&emsp;• Send information, respond to inquiries, and/or other requests or questions</p>
            <p>&emsp;&emsp;• Process orders and to send information and updates pertaining to orders.</p>
            <p>&emsp;&emsp;• Send you additional information related to your product and/or service</p>
            <p>&emsp;&emsp;• Market to our mailing list or continue to send emails to our clients after the original transaction has occurred.</p>

        <h5>&emsp;To be in accordance with CANSPAM, we agree to the following:</h5>
            <p>&emsp;&emsp;• Not use false or misleading subjects or email addresses.</p>
            <p>&emsp;&emsp;• Identify the message as an advertisement in some reasonable way.</p>
            <p>&emsp;&emsp;• Include the physical address of our business or site headquarters.</p>
            <p>&emsp;&emsp;• Monitor third-party email marketing services for compliance, if one is used.</p>

        <h5>&emsp;If at any time you would like to unsubscribe from receiving future emails, you can email us at contact@ourjobfund.com</h5>
            
            <p>&emsp;&emsp;• Follow the instructions at the bottom of each email and we will promptly remove you from ALL correspondence.</p>

        </br>    
            
        <h5><b>Contacting Us</b></h5>

        <p>If there are any questions regarding this privacy policy, you may contact us using the information below.</p>

        <p>ourjobfund.com
        457 N. Jean St
        Madison, WI 53703
        United States
        admin@ourjobfund.com</p>

        <p>Last Edited on 2018-05-22</p>
        
    </div>
</div>
{% endblock %}