
.max-height {
    height: 100%;
}

.display_row {
    position: absolute;
}

.display_col {
    display: table;
    position: relative;
}

#about {
    height: 100%;
    vertical-align: middle;
    display: table-cell;
    position: relative;
}
