#id_username, #id_email, input[type=password] {
    margin-top: 5px;
    margin-bottom: 5px;
}

#change-username-note {
    color: blue;
}

#save_username, #save_email, #save_password, input[value=Cancel], .deactivate {
    display: none;
}


