input[type=submit] {
    float: right;
}

#username {
    text-align: center;
}

.change-info-description {
    float: right;
    color: #0000EE;
}

.change-info-description:hover {
    cursor: pointer;
    text-decoration: underline;
}

#id_description {
    height: 400px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    resize: none;
}

#pay-button {
    float: right;
    width: 100%;
}

#save_info, #create_job {
    width: 100%;
}

table {
    border: 1px solid black;
    width: 100%;
}

td {
    word-wrap: break-word;
}

thead, tbody, tfoot, tr, td, th {
    display: block;
}

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;
}

tbody {
    height: 250px;
    overflow-x: auto;
    overflow-y: scroll;
}

.current-title, .completed-title {
    width: 40%;
    float: left;
}

.current-pledging, .current-paid, .current-work_status, .current-received, .completed-pledging, .completed-paid, .completed-work_status, .completed-received, .completed-paid {
    width: 20%;
    float: left;
}
