html, body {
    height: 100%;
}

.max-height {
    border: 1px solid black;
}

#edit_div, #textarea_description, #save_description {
    display: none;
}

.table_div {
    border: 1px solid black;
    height: 20%;
    width: 100%;
}