input[type=submit] {
    float: right;
}

#description {
    height: 400px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#edit_profile {
    width: 100%;
}

table {
    width: 100%;
}

tbody {
    border: 1px solid gray;
}

td {
    word-wrap: break-word;
}

thead, tbody, tfoot, tr, td, th {
    display: block;
}

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;
}

tbody {
    height: 250px;
    overflow-x: auto;
    overflow-y: scroll;
}

.current-title, .completed-title {
    width: 40%;
    float: left;
}

.current-pledging, .current-paid, .current-work_status, .current-received, .completed-pledging, .completed-paid, .completed-work_status, .completed-received, .completed-paid {
    width: 20%;
    float: left;
}

#current-total,  #completed-total {
    font-family: "Arial Narrow", Arial, sans-serif;
    color: lightgray;
    width: 50%;
    float: right;
}
