input[type=submit] {
    float: right;
}

#description {
    max-height: 19em;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    word-break: break-all;
}

#no-name, #no-description {
    opacity: 0.5;
    text-align: center;
}

#edit_profile, #create_job, #delete-stripe {
    width: 100%;
}

tbody {
    height: 11em;
}

.current-title, .completed-title {
    width: 40%;
    float: left;
}

.current-pledging, .current-paid, .current-work_status, .current-received, .completed-pledging, .completed-paid, .completed-work_status, .completed-received, .completed-paid {
    width: 20%;
    float: left;
}
