#edit_div, #textarea_description, #save_description {
    display: none;
}

#description {
    margin-right: 10px;
    margin-left: 10px;
}

#edit_description, #save_description { 
    float: right;
}

#textarea_description {
    text-sizing: border-box;
    resize: none;
}

#textarea_description, #description_div {
    border: 1px solid black;
    width: 100%;
    height: 300px;
    overflow: auto;
}

table {
    border: 1px solid black;
    width: 100%;
}

td {
    word-wrap: break-word;
}

thead, tbody, tfoot, tr, td, th {
    display: block;
}

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;
}

tbody {
    height: 300px;
    overflow-x: auto;
    overflow-y: scroll;
}

.name {
    width: 50%;
    float: left;
}

.pledged, .working {
    width: 25%;
    float: left;
}

#create_job {
    width: 100%;
}
