
table {
    width: 100%;
    border: 1px solid black;
}

td {
    word-wrap: break-word;
}

thead, tbody, tfoot, tr, td, th {
    display: block;
}

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;
}

tbody {
    height: 300px;
    overflow-x: auto;
    overflow-y: scroll;
}

.username, .first_name, .last_name, .location {
    width: 25%;
    float: left;
}