{% extends 'base.html' %}

{% load staticfiles %}
{% block import %}
    <script type="text/javascript" src="{% static 'user/js/detail.js' %}" ></script>
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/detail.css' %}" />
    <script src="https://checkout.stripe.com/checkout.js"></script>
{% endblock %}

{% block content %}
<input id="this_user" type="hidden" value="{{ request.user.username }}"/>
<div class="row">
    <div class="col-md-12">
        <h4 id="username">{{ detail_user.username }}</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-6">
                <h4>Info</h4>
            </div>
            <div class="col-md-6">
                {% if request.user.username == detail_user.username %}
                <span id="edit_info" class="change-info-description">Edit</span>
                <span id="cancel_info" class="change-info-description">Cancel</span>
                <span class="change-info-description">&nbsp;&nbsp;</span>
                <span id="save_info" class="change-info-description">Save</span>
                {% endif %}
            </div>
        </div>
        <div id="info-wrapper">
            <form id="info_form" action="{{ request.get_full_path }}" method="POST" name="info_form">
            {% csrf_token %}
            {% for name in name_form %}
                <div class="row info_row">
                    <div class="col-md-12">
                        <span class="info_title">{{ name.label }}</span>
                        <span class="info_info">{{ name }}</span>
                    </div>
                </div>
            {% endfor %}
            {% for info in profile_form %}
                <div class="row info_row">
                    <div class="col-md-12">
                        <span class="info_title">{{ info.label }}</span>
                        <span class="info_info">{{ info }}</span>
                    </div>
                </div>
            {% endfor %}
            </form>
            {% if request.user.username == detail_user.username %}
            <div class="row">
                <div class="col-md-12">
                    <span id="must-connect-to-stripe">
                        Not connected to
                        <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_B36oLqq9HCaIyv4FlXeUgqdKvEwQGSxV&scope=read_write&state={{ job.random_string }}" id="stripe_connect" class="stripe-connect">
                            <span>Stripe</span>
                        </a>
                    </span>
                </div>
            </div>
            {% else %}
            {% if detail_user.userprofile.stripe_account_id == "" %}
            <div class="row">
                <div class="col-md-12">
                    <span id="must-connect-to-stripe">
                        Not connected to Stripe.
                    </span>
                </div>
            </div>
            {% else %}
            <div id="pay_unclicked">
                <div class="row">
                    <div class="col-md-12">
                        <input id="pay_money" class="pledge_work_inputs" type="button" value="Pay with Credit" />
                    </div>
                </div>
            </div>
            <div id="pay_clicked">
                <form id="pay_form" action="{{ request.get_full_path }}" method="POST">
                {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <select id="pay_for" name="pay_for">
                                <option value="(default)" selected="selected">(Choose a job)</option>
                            {% for jobuser in detail_user.current_jobusers %}
                                {% if jobuser.job.work_set.all %}
                                <option value="{{ jobuser.job.random_string }}">{{ jobuser.job.name }}</option>
                                {% endif %}
                            {% endfor %}
                            {% for jobuser in detail_user.finished_jobusers %}
                                {% if jobuser.job.work_set.all %}
                                <option value="{{ jobuser.job.random_string }}">{{ jobuser.job.name }}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span id="pay_amount_span">$<input id="pay_amount" type="text" placeholder="0" size="5" name="pay_amount" /></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span id="pay_cancel">
                                <input id="pay_button" type="button" value="Pay" />
                                <input id="cancel_pay" type="button" value="Cancel" />
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span id="pay_for_error"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span id="pay_amount_error"></span>
                        </div>
                    </div>
                    <input id="stripe_token" type="hidden" name="stripeToken" />
                </form>
            {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-6">
                <h4>Description</h4>
            </div>
            <div class="col-md-6">
                {% if request.user.username == detail_user.username %}
                <span id="edit_description" class="change-info-description">Edit</span>
                <span id="cancel_description" class="change-info-description">Cancel</span>
                <span class="change-info-description">&nbsp;&nbsp;</span>
                <span id="save_description" class="change-info-description">Save</span>
                {% endif %}
            </div>
        </div>
        {{ description_form.description.errors }}
        <div class="row">
            <div class="col-md-12">
                <form id="description_form" action="{{ request.get_full_path }}" method="POST" name="description_form">
                {% csrf_token %}
                    {{ description_form.description }}
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <h4>Current Jobs</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="name">Name</th>
                            <th class="pledged">Pledged</th>
                            <th class="paid">Paid</th>
                            <th class="received">Received</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for current_jobuser in current_jobusers %}
                        <tr id="current_{{ current_jobuser.job.name }}">
                            <td class="name"><a href="{% url 'job:detail' current_jobuser.job.random_string %}">{{ current_jobuser.job.name }}</a></td>
                            <td class="pledged">${{ current_jobuser.amount_pledged }}.00</td>
                            <td class="paid">${{ current_jobuser.amount_paid }}.00</td>
                            <td class="received">${{ current_jobuser.amount_received }}.00</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td class="name">No current jobs</td>
                            <td class="pledged"></td>
                            <td class="paid"></td>
                            <td class="received"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="name">Total:&nbsp;{{ current_jobusers.count }}</td>
                            <td class="pledged"></td>
                            <td class="paid"></td>
                            <td class="status"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <h4>Completed Jobs</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="name">Name</th>
                            <th class="pledged">Pledged</th>
                            <th class="paid">Paid</th>
                            <th class="received">Received</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for finished_jobuser in finished_jobusers %}
                        <tr id="finished_{{ finished_jobuser.job.name }}">
                            <td class="name"><a href="{% url 'job:detail' finished_jobuser.job.random_string %}">{{ finished_jobuser.job.name }}</a></td>
                            <td class="pledged">${{ finished_jobuser.amount_pledged }}.00</td>
                            <td class="paid">${{ finished_jobuser.amount_paid }}.00</td>
                            <td class="received">${{ finished_jobuser.amount_received }}.00</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td class="name">No finished jobs</td>
                            <td class="pledged"></td>
                            <td class="paid"></td>
                            <td class="received"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="name">Total:&nbsp;{{ finished_jobusers.count }}</td>
                            <td class="pledged"></td>
                            <td class="paid"></td>
                            <td class="received"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
