{% extends 'form.html' %}

{% load static %}
{% block import_form_files %}
    <script type="text/javascript" src="{% static 'user/js/edit_profile.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/edit_profile.css' %}" />
{% endblock %}

{% block title %}Edit Profile{% endblock %}

{% block form_data %}
{% for field in name_form %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        {{ field }}{{ field.errors }}
    </div>
</div>
{% endfor %}
{% for field in profile_form %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        {{ field }}{{ field.errors }}
    </div>
</div>
{% endfor %}
{% endblock %}

{% block back_button %}{% url 'user:detail' request.user.username %}{% endblock %}