{% extends 'base.html' %}

{% load staticfiles %}
{% block import %}
    <script type="text/javascript" src="{% static 'user/js/login.js' %}" ></script>
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/login.css' %}" />
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h4 id="create-account">Create Account</h4>
            </div>
        </div>
        <form id="sign-up-form" method="POST" action="{% url 'user:login' %}">
        {% csrf_token %}
        {% for field in sign_up_form %}
            <div class="row">
                <div class="col-md-12">
                    <span class="sign-up-input">
                    {% if field.auto_id == "id_signup-age_checkbox"%}
                        {{ field.label }}
                    {% endif %}
                    {{ field }}{{ field.errors }}
                    </span>
                </div>
            </div>
        {% endfor %}
            <div class="row">
                <div class="col-md-12 sign-up-input">
                    <input type="submit" value="Create Account" name="sign-up" />
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}