{% extends 'navbar.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            Sign in with:
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            Facebook
        </div>
        <div class="col-md-4">
            Google
        </div>
        <div class="col-md-4">
            <form id="sign-up-form" method="POST" action="{% url 'user:sign_in' %}">
                {% csrf_token %}
                {% for field in new_user_form %}
                <div class="row">
                    <div class="col-md-12">
                        {{ field.errors }}
                        {{ field.label }}{{ field }}
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <input type="submit" value="Create Account" />
            </form>           
        </div>
    </div>
</div> 
{% endblock %}