{% extends 'navbar.html' %}

{% load staticfiles %}
{% block importTwo %}
    <script type="text/javascript" src="{% static 'user/JavaScript/view_messages.js' %}" ></script>
    <link rel="stylesheet" type="text/css" href="{% static 'user/CSS/view_messages.css' %}" />
{% endblock %}

{% block content %}
    <input id="user" type="hidden" value="{{ user }}" />
    <input id="other_user" type="hidden" value="{{ other_user }}" />
    <div id="message_container" class="container">
        <div class="row" id="textarea_row">
            <div class="col-md-12">
                <textarea id="send_message_textarea" ></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input id="send_message" type="button" value="Send" />
            </div>
        </div>
    </div>
{% endblock %}