{% extends 'base.html' %}

{% load staticfiles %}
{% block import %}
    <script type="text/javascript" src="{% static 'user/js/search.js' %}" ></script>
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/search.css' %}" />
{% endblock %}

{% block content %}
<input id="query" type="hidden" value="{{ search }}" />
<div class="row">
    <div class="col-md-12">
        People
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="user-table" class="table">
            <tbody>
            {% for searched_user in users %}
                <tr>
                    <td><a href="{% url 'user:detail' searched_user.username %}">{{ searched_user.username }}</a></td>
                </tr>
            {% empty %}
                <tr>
                    <td>No Users</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <td>Total:&nbsp;<span id="total">{{ total }}</span></td>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}