* {
    position: relative;
}

html, .container, .container-fluid {
    height: 100%;
    width: 100%;
}



body {
    min-height: 100%;
    padding-bottom: 50px;
}

ul {
    list-style-type: none;
}

.title {
    text-align: center;
}

.errorlist {
    color: red;
}

.table-header {
    cursor: pointer;
}

#no-updates:hover {
    background: white;
}

#footer {
    border: 1px solid black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.footer-div {
    height: 100%;
}

.info_col {
    display: table;
}

.info_link {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 100%;
}

.total {
    font-family: "Arial Narrow", Arial, sans-serif;
    color: gray;
    float: right;
    width: 40%;
}

table {
    width: 100%;
}

thead, tbody, tfoot, tr, td, th {
    display: block;
}

th, td {
    word-wrap: break-word;
    float: left;
}

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

tbody {
    overflow-x: auto;
    overflow-y: scroll;
    border: 1px solid gray;
}

.footer-link, .footer-link:hover {
    color: gray;
}

.make-this-disappear {
    display: none;
}

    
    
    
