{% extends 'JobList/home.html' %}

{% block filter %}
{% if user.is_authenticated %}
    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'JobList:view_all_metrics_pledge' %}" method='GET'>
                <input id="view_metrics_pledge" type="submit" value="View All Metrics"/>
            </form>
        </div>
    </div>
    <form action="#">
        <div class="row">
            <div id="filter" class="col-md-12">
                Apply <input type="text" />&nbsp;'s filter metric?
                <input type="button" value="Apply" action="#" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Remove any potential worker who has:
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                - not been active on the website for &nbsp; <input type="text" size="2" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-8">
                days: <input type="radio" name="unit_of_time" checked="checked" />
            </div>
            <!-- Weeks
            <div class="col-md-3 col-md-offset-3">
                weeks: <input type="radio" name="unit_of_time">
            </div>
            End weeks -->

            <!-- Months
            <div class="col-md-3 col-md-offset-2">
                months: <input type="radio" name="unit_of_time">
            </div>
            End months -->

            <!-- Years
            <div class="col-md-3 col-md-offset-1">
                years: <input type="radio" name="unit_of_time">
            </div>
            End Years -->
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                - completed fewer than &nbsp;<input type="text" size="1" />&nbsp; job/s.
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                - failed to complete more than &nbsp;<input type="text" size="1" />&nbsp; job/s.
            </div>
        </div>
    </form>
{% endif %}
{% endblock %}