{% extends 'JobList/base.html' %}

{% load staticfiles %}
{% block import %}
    <script type="text/javascript" src="{% static 'JobList/JavaScript/logic_base.js' %}" ></script>
    <link rel="stylesheet" type="text/css" href="{% static 'JobList/CSS/logic_base.css' %}" />
    {% block import_to_logic_base %}{% endblock %}       
{% endblock %}

{% block body %}
    <div id="logic_screen"></div>
    <div id="apply-cancel">
        <input type="submit" id="apply-metric" value="Apply Metric" />
        <input type="button" id="cancel-metric" value="X" />
    </div>
{% endblock %}