
.information_table {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid black;
}

#job_description {
    border: 1px solid black;
    height: 300px;
}

.starts_hidden {
    display: none;
}

#post_update, #pay_money, #pledge_money, #finish_job, #work_on_job {
    width: 100%;
}