#is_finished {
    color: red;
}

#banned {
    text-align: center;
}

#private {
    float: right;
}

.history {
    float: right;
    top: 0;
}

h4 {
    top: 10px;
}

.images {
    float: right;
}

#pledging, #working {
    margin-bottom: 0px;
}

#updates {
    margin-bottom: 5px;
}

#location {
    float: right;
}

#updates tbody {
    height: 500px;
}

#updates td[class=updates-comment] {
    border-top: none;
}

.job-input {
    width: 100%;
    margin: 1px;
}

#pledging tbody, #working tbody {
    height: 280px;
}

#updates_title {
    margin-top: 30px;
}

.updates-username {
    width: 50%;
}

.updates-date  {
    width: 50%;
}

.updates-comment {
    width: 100%;
}

.pledging-username, .pledging-date, .pledging-pledging, .pledging-paid {
    width: 25%;
    float: left;
}

.working-username, .working-started, .working-finished, .working-received {
    width: 25%;
    float: left;
}