
.history {
    float: right;
    top: 0;
}

#pledging, #working {
    margin-bottom: 0px;
}

#updates {
    margin-bottom: 5px;
}

#location {
    float: right;
}

table {
    width: 100%;
}

thead, tbody, tfoot, tr, td, th {
    display: block;
}

th, td {
    word-wrap: break-word;
    float: left;
}

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;
}

tbody {
    overflow-x: auto;
    overflow-y: scroll;
    border: 1px solid gray;
}

#updates tbody {
    height: 500px;
}

#updates td[class=updates-comment] {
    border-top: none;
}

#update, #pledge, #pay, #work, #finish, #confirm_payments {
    width: 100%;
    margin: 1px;
}

#pledging tbody, #working tbody {
    height: 280px;
}

#updates_title {
    margin-top: 30px;
}

.updates-username {
    width: 40%;
}

.updates-date  {
    width: 40%;
}

.updates-images {
    width: 20%;
}

.updates-comment {
    width: 100%;
}

.pledging-username, .pledging-paid {
    width: 30%;   
}

.pledging-pledging {
    width: 40%;
}

#total-pledges, #total-paid, #pledging-total, #updates-total, #working-total {
    font-family: "Arial Narrow", Arial, sans-serif;
    color: lightgray;
    float: right;
    width: 50%;
}

.date {
    color: gray;
}

.working-username, .working-started, .working-finished, .working-received {
    width: 25%;
}