#is_finished {
    color: red;
}

#banned {
    text-align: center;
}

#private {
    float: right;
}

.history {
    float: right;
    top: 0;
}

h4 {
    top: 10px;
}

.images {
    float: right;
}

#pledging, #working {
    margin-bottom: 0px;
}

#updates {
    margin-bottom: 5px;
    width: 100%;
}

#updates tbody {
    height: 300px;
    width: 100%;
}

#updates td[class=updates-comment] {
    border-top: none;
}

.job-input {
    width: 100%;
    margin: 1px;
}

#pledging tbody, #working tbody {
    height: 180px;
}

#updates_title {
    margin-top: 30px;
}

td[class=updates-username], td[class=updates-date] {
    width: 50%;
}

td[class=updates-comment] {
    width: 100%;
}

td[class=pledging-username], td[class=pledging-date], td[class=pledging-pledging], td[class=pledging-paid] {
    width: 25%;
    float: left;
}

td[class=working-username], td[class=working-started], td[class=working-finished], td[class=working-received] {
    width: 25%;
    float: left;
}