
#job_description {
    height: 300px;
    width: 100%;
    border: 1px solid black;
}

#updates_div {
    height: 300px;
    width: 100%;
    border: 1px solid black;
}

.pledge_work_inputs {
    width: 100%;
}

.starts_hidden {
    display: none;
}

tbody {
    width: 100%;
}
