
#advanced-settings-wrapper, #custom_search_jobs {
    display: none;
}

.search, #search_button, #location, #radius, #create_job, table {
    width: 100%;
}

#show_filter {
    cursor: pointer;
}

#hide_filter {
    display: none;
    cursor: pointer;
}

.filter_label {
    float: right;
}

.filter_unit {
    float: left;
}

.height_100 {
    height: 100%;
    border: 1px solid black;
}

#custom_search_jobs {
    width: 100%;
    resize: none;
    height: 120px;
}

table {
    border: 1px solid black;
}

thead, tbody, tfoot, tr, td, th {
    display: block;
}

td {
    word-wrap: break-word;
}

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;
}

tbody {
    height: 300px;
    overflow-x: auto;
    overflow-y: scroll;
}

.name {
    width: 20%;
    float: left;
}

.date {
    width: 10%;
    float: left;
}

.pledged, .paid, .workers, .finished {
    width: 15%;
    float: left;
}

tfoot td {
    float: left;
    width: 1%;
}

tfoot #job-number-footer {
    width: 86%;
}

#map {
    height: 200px;
    width: 100%;
    border: 1px solid black;
}