
input[type=text] {
    max-width: 100%;
}

.search, #search_button, #location, #radius, #create_job, table {
    width: 100%;
}

#custom_search {
    height: 70px;
    overflow-y: auto;
    overflow-x: hidden;
    resize: none;
}

#map {
    height: 300px;
    width: 100%;
    border: 1px solid black;
}

#worker-filter-wrapper, #pledge-filter-wrapper {
    height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}

.filter_label {
    float: right;
}

.filter_unit {
    float: left;
}

table {
    border: 1px solid black;
}

thead, tbody, tfoot, tr, td, th {
    display: block;
}

td {
    word-wrap: break-word;
}

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 50px;
}

tbody {
    height: 500px;
    overflow-x: auto;
    overflow-y: scroll;
}

.title {
    width: 35%;
    float: left;
}

.date {
    width: 35%;
    float: left;
    text-align: center;
}

.paid {
    width: 15%;
    float: left;
    text-align: center;
}

.finished {
    width: 15%;
    float: left;
    text-align: center;
}

.margin-row {
    margin-top: 3px;
    margin-bottom: 3px;
}

#search-error-message {
    float: right;
    color: red;
}