
input[type=text] {
    max-width: 100%;
}

.search, #location, #create_job, table {
    width: 100%;
}

#map {
    height: 300px;
    width: 100%;
    border: 1px solid black;
}

tbody {
    height: 500px;
}

.job-title {
    width: 35%;
    float: left;
}

.job-created {
    width: 35%;
    float: left;
    text-align: center;
}

.job-pledging, .job-paid {
    width: 15%;
    float: left;
    text-align: center;
}

.margin-row {
    margin-top: 3px;
    margin-bottom: 3px;
}

#search-error-message {
    float: right;
    color: red;
}