html, body {
	height: 100%;
}

#screen {
    margin-top: 45px;
}

.row {
    padding-top: 10px;
}

#advanced-options {
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

#tab-or {
    text-align: center;
}

#sign-up {
    text-align: left;
}

#ANDs_of_ORs, #ORs_of_ANDs, #custom, #refresh-button {
    background: none;
    border: none;
}

label {
    cursor: default;
}

.location-hide, .distance-unit, .time-unit {
    display: none;
}

.hashtag-radio {
    font-weight: normal;
}

#empty-space {
    height: 100px;
}

#or {
    padding-top:10px;
    font-weight: bold;
}

#filter-by {
    float: right;
}

.filter-by-button { 
    float: right;
    color: #333;
    width: auto;
    text-align: center;
    padding: 0 10px;
    background: #f0f0f0;
    line-height: 1.5em;
    height: auto;
}

.filter-by-button.active {
    background: #ea0000;
    color: #fff;
}

#job_search_div {
    padding-top: 20px;
}

.table td {
    border: none !important;
}

#job_button {
    position: relative;
}

#filter {
    margin-top: 30px;
}

ul {
    list-style-type: none;
}

#radius {
    margin-top: 10px;
}

#Google_Map {
    overflow: hidden;
    height: 250px;
    width: 250px;
}

#map-canvas {
  min-width: 100px;
  width: 100%;
  min-height: 200px;
  height: 100%;
}

#gmap_canvas img {
    max-width: none!important;
    background: none!important;
}

#table-border {
    min-height: 350px;
    white-space:nowrap;
    overflow:hidden;
    background-color: white;
    display: block;
    position: relative;
    z-index: 9999;
    border: 1px solid rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0, 0.5);
}

#main_table {
    display: block;
    position: relative;
    overflow: auto;
}
