#logic_screen {
    white-space: nowrap;
    margin-left: 30px;
}

.logic_group {
    top: 0;
}

.logic_group, .outside_clause {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}

.inside_clause {
    text-align: center;
}

#apply-cancel {
    position: fixed;
    margin-left: 30px;
    bottom: 30px;
}