tbody {
    height: 400px;
}

table, tbody {
    width: 100%;
}

.updates-username, .updates-date, .updates-images, .updates-ban {
    width: 25%;
}

.updates-comment {
    width: 100%;
}

.table td[class=updates-comment] {
    border-top: none;
}

.users-username {
    width: 34%
}

.users-date, .users-ban {
    width: 33%;
}

#back {
    width: 100%;
}