#image-wrapper {
    border: 1px solid black;
    width: 100%;
    height: 19em;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.image {
    max-height: 19em;
    display: inline-block;
}