{% extends 'base.html' %}

{% load staticfiles %}
{% block import %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/navbar.css' %}" />
    <script type="text/javascript" src="{% static 'JavaScript/navbar.js' %}" ></script>
    {% block importTwo %}{% endblock %}
{% endblock %}

{% block body %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
            {% if user.is_authenticated %}
                <li>
                    <a href="#">
                        <form id="logout-form" action="{% url 'job:logout_pledge' %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" value="Logout" />
                        </form>
                    </a>
                </li>
                <li><a href="{% url 'user:detail' user.username %}">{{ user.username }}</a></li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-center">
            <li>
                <a>
                    <form id="go_to_user">
                        <label for="user_search_bar">Search Users:&nbsp;</label>
                        <input id="user_search_bar" type="text" />
                    </form>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Pledge: Job Updates&nbsp;<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for notification in user.usernotification_set.all %}
                            {% if notification.type == "PU" %}
                                <li><a href="{% url 'job:detail' workjob.job.pk %}">{{ notification.pledge_job_update.job.name }}</a></li>
                            {% endif %}
                        {% empty %}
                            <li><a>None</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Work: Job Updates&nbsp;<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for notification in user.usernotification_set.all %}
                            {% if notification.type == "WU" %}
                                <li><a href="{% url 'job:detail' pledgejob.job.pk %}">{{ notification.pledge_job_update.job.name }}</a></li>
                            {% endif %}
                        {% empty %}
                            <li><a>None</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Messages&nbsp;<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for message in user.usernotification_set.all %}
                            {% if notification.type == "ME" %}
                                <li><a href="{% url 'user:message' notification.message.id %}">{{ notification.message.description }}</a></li>
                            {% endif %}
                        {% empty %}
                            <li><a>None</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Login/Sign Up &nbsp;
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <form action="{% url 'job:login_pledge' %}" method="POST">
                                {% csrf_token %}
                                <span class="bold">Login:</span></br>
                                Email
                                <input id="email" type="text" name="email" />
                                </br>
                                Password
                                <input id="password" type="password" name="password" />
                                <button type="submit">Submit</button>
                            </form>
                        </li>
                        <li id="tab-or" class="bold">
                            Or
                        </li>
                        <li>
                            <a href="{% url 'user:create_user' %}"><span id="sign-up" class="bold">Sign Up</span></a>
                        </li>
                    </ul>
                </li>
            {% endif %}
        </ul>       
    </div>
</nav>
{% block content %}{% endblock %}
{% endblock %}

