{% extends 'base.html' %}

{% load staticfiles %}
{% block import %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/navbar.css' %}" />
    <script type="text/javascript" src="{% static 'JavaScript/navbar.js' %}" ></script>
    {% block importTwo %}{% endblock %}
{% endblock %}

{% block body %}
<input id="user" type="hidden" value="{{ user.username }}" />
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
            {% if user.is_authenticated %}
                <li><a href="{% url 'user:detail' user.username %}">{{ user.username }}</a></li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-center">
            <li>
                <a>
                    <form id="go_to_user" action="{% url 'user:detail' 0 %}">
                        <label for="user_search_bar">Search Users:&nbsp;</label>
                        <input id="user_search_bar" type="text" />
                    </form>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Pledge: Job Updates&nbsp;<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for notification in user.pledgenotification_set.all %}
                            <li><a href="#" id="pledge_notification_{{ notification.id }}" onclick="viewPledgeNotification(this.id)">Pledge Notification</a></li>
                        {% empty %}
                            <li><a>None</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Work: Job Updates&nbsp;<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for notification in user.worknotification_set.all %}
                            <li><a href="#" id="work_notification_{{ notification.id }}" onclick="viewWorkNotification(this.id)">Work Notification</a></li>
                        {% empty %}
                            <li><a>None</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="{% url 'user:sign_out' %}">Logout</a></li>
            {% endif %}
        </ul>       
    </div>
</nav>
{% block content %}{% endblock %}
{% endblock %}

