{% extends 'base.html' %}

{% load staticfiles %}
{% block import %}
    <script type="text/javascript" src="{% static 'pay/js/verification.js' %}" ></script>
    <link rel="stylesheet" type="text/css" href="{% static 'pay/css/verification.css' %}" />
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <table>
            <thead>
                <th class="username"><span class="table-header">Username</span></th>
                <th class="job"><span class="table-header">Job</span></th>
                <th class="amount"><span class="table-header">Amount</span></th>
                <th class="type"><span class="table-header">Type</span></th>
            </thead>
        {% for p in payments %}
            {% if p.type == 'Other' and not p.verified %}
                Ple
            {% endif %}
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}