<input type="button" value="Use the filter from a different user" /><br /><br />
        Remove users who have:
        <ul id="metrics">
            <li>
                <form id="recently_active">
                    <div class="row container-fluid">
                        <div class="col-md-6"> - not been active in the last </div>
                        <input type="text" class="col-md-2 col-md-pull-1">
                    </div>
                    <div id="choose_time_unit" class="row container-fluid">
                        <div class="col-md-3 col-md-push-2">
                            days: <input type="radio" name="unit_of_time">
                        </div>
                        <div class="col-md-3 col-md-push-1">
                            weeks: <input type="radio" name="unit_of_time">
                        </div>
                        <div class="col-md-3">
                            months: <input type="radio" name="unit_of_time">
                        </div>
                    </div>
                </form>
            </li>
            <li>
                <form id="pay_to_pledge_ratio">
                    <div class="row container-fluid">
                        <div class="col-md-4">
                            - on average pays
                        </div>
                        <input type="text" class="col-md-2">
                        <div class="col-md-5">
                            % of money pledged
                        </div>
                    </div>
                </form>
            </li>
            <li>
                <form id="pledge_to_max_payment_ratio">
                    <div class="row container-fluid">
                        <div class="col-md-3">
                            - pledged
                        </div>
                        <input type="text" class="col-md-2">
                        <div class="col-md-5">
                            % of max amount paid
                        </div>
                    </div>
                </form>
            </li>
        </ul>