{% extends 'jobList_Pledge/base.html' %}


{% load staticfiles %}
{% block import %}
    <script type="text/javascript" src="{% static 'jobList_Pledge/JavaScript/text_logic.js' %}" ></script>
    <script type="text/javascript" src="{% static 'jobList_Pledge/JavaScript/job_search_bar.js' %}" ></script>
    <script type="text/javascript" src="{% static 'jobList_Pledge/JavaScript/hashtag_logic.js' %}" ></script>
{% endblock %}



{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- Defines #hashtag logic -->
            <form class="text_form" id="hashtag_logic" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <label class="text_label" for="basic_hashtags_input"> Basic hashtags form:&nbsp;</label>
                        <span class="text_span">
                            <input type="text" id="basic_hashtags_input" class="wide_text" />
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4"> Advanced options: </div>
                    <div class="col-md-3">
                        ANDs of ORs
                        <input type="radio" id="hashtag_ANDs_of_ORs_logic" name="hashtag_logic" />
                    </div>
                    <div class="col-md-3">
                        ORs of ANDs
                        <input type="radio" id="hashtag_ORs_of_ANDs_logic" name="hashtag_logic" />
                    </div>
                    <div class="col-md-2">
                        Custom
                        <input type="radio" id="hashtag_custom_logic" name="hashtag_logic" />
                    </div>
                </div>
            </form>
            <!-- End #hashtag logic -->

            <!-- Or -->
            <div id="or" class="row">
                <div class="col-md-1 col-md-push-6">
                    Or
                </div>
            </div>
            <!-- End or -->

            <!-- Job search bar -->
            <form id="search_jobs" class="text_form" name="search_jobs" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <label class="text_label" for="search_bar" >Search job by name or ID:&nbsp;</label>
                        <span class="text_span"><input class="wide_text" id="search_bar" type="text" /></span>    
                    </div>
                </div>
            </form>
            <!-- End job search bar -->

            <!-- Job table -->
            <div class="row">
                <div class="col-md-12">
                    <table id="main_table" class="table">

                    </table>
                </div>
            </div>
            <!-- End job table -->

            <!-- Add Job button -->
            <div class="row">
                <form action="{% url 'add_job' %}">
                    <input id="add_job" class="col-md-12" type="submit" value="Add job" />
                </form>
            </div>
            <!-- End Add Job button -->
        </div>


        <div class="col-md-5 col-md-push-1">
            <!-- Include location? -->
            <div class="row">
                <div class="col-md-11">
                    Only include jobs without a location or near a specified location?
                </div>
                <form action="#">
                    <input type="checkbox">
                </form>
            </div>
            <!-- End include location? -->

            <!-- Location -->
            <form class="text_form" action="#">
                <div class="row">
                    <div class="col-md-12">
                        <label class="text_label" for="location_text" >Location:&nbsp;</label>
                        <span class="text_span">
                            <input id="location_text" class="wide_text" type="text" />
                        </span>
                    </div>
                </div>
            </form>
            <!-- End Location -->

            <!-- Radius -->
            <div class="row">
                <form action="#">
                    <div class="col-md-4">
                        Radius:
                        <input type="text" size="1" />
                    </div>
                </form>
                <form action="#">
                    <div class="col-md-4">
                        mi:
                        <input type="radio" name="radius_unit" value="mi" checked="checked" />
                        km:
                        <input type="radio"name="radius_unit" value="km" />
                    </div>
                </form>
            </div>
            <!-- End Radius -->

            <!-- Google Map -->
            <div class="row">
                <div class="col-md-12">
                    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&dummy=.js"></script>
                    <div id="map-canvas"></div>
                    <script type="text/javascript" src="{% static 'jobList_Pledge/JavaScript/GoogleMaps.js' %}">

                    </script>
                </div>
            </div>
            <!-- End Google Map -->

            <!-- Filter -->
            <div class="row">
                <div id="filter" class="col-md-12">
                    <form action="#">
                        Apply <input type="text" />&nbsp;'s filter metric.
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    Remove any potential worker who has:
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-push-2">
                    <form id="recently_active">
                        - not been active on the website for &nbsp; <input type="text" size="2">
                    </form>
                </div>
            </div>
            <div class="row">

                <div class="col-md-8 col-md-push-8">
                    days: <input type="radio" name="unit_of_time" checked="checked">
                </div>

                <!-- Weeks
                <div class="col-md-3 col-md-push-3">
                    weeks: <input type="radio" name="unit_of_time">
                </div>
                End weeks -->

                <!-- Months
                <div class="col-md-3 col-md-push-2">
                    months: <input type="radio" name="unit_of_time">
                </div>
                End months -->

                <!-- Years
                <div class="col-md-3 col-md-push-1">
                    years: <input type="radio" name="unit_of_time">
                </div>
                End Years -->

            </div>

            <div class="row">
                <div class="col-md-10 col-md-push-2">
                    <form action="#">
                        - completed less than &nbsp;<input type="text" size="1" />&nbsp; job/s.
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 col-md-push-2">
                    <form action="#">
                        - failed to complete more than &nbsp;<input type="text" size="1" />&nbsp; job/s.
                    </form>
                </div>
            </div>

        </div>
        <!-- End Filter -->
    </div>
</div>
</div>
{% endblock %}
