html, css, .div_100_percent {
    height: 100%;
}

#finish_modal, #pledge_modal, #you_are_now_a_main_editor {
    display: none;
}

.table_div {
    display: block-inline;
    overflow: auto;
    width: 100%;
    height: 40%;
}

table {
    position: relative;
    white-space: nowrap;
    height: 100%;
}

#description {
    height: 40%;
    border: 1px solid black;
}

#display_hashtags {
    text-align: center;
    font-size: 30px;
}

#detail-description-box {
    height: 40%;
    outline: thin solid;
    position: relative;
}

#detail_work_on_job {
    height: 30px;
}


