#wrapper {
    height: 100%;
}

#advanced-settings-wrapper {
    display: none;
}

#search_jobs {
    width: 100%;
}

#search_button {
    width: 100%;
}

#location {
    width: 100%;
}

#radius {
    width: 100%;
}

#create_job {
    width: 100%;
}