{% extends 'JobList/home.html' %}

<!--
{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url 'JobList:home_logged_out' %}">Log out</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-center">
                <li>
                    {}
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
-->