{% extends 'JobList/base.html' %}

{% load staticfiles %}
{% block import %}
    <link rel="stylesheet" type="text/css" href="{% static 'JobList/CSS/view_all_metrics_pledge.css' %}" />
    <script type="text/javascript" src="{% static 'JobList/JavaScript/view_all_metrics_pledge.js' %}" ></script>
{% endblock %}



{% block body %}
<form type="POST">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2>Remove workers who have:</h2>
            </div>
            <div id="filter" class="col-md-6">
                Apply <input type="text" />&nbsp;'s filter metric?
                <input type="button" value="Apply" action="#" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <table id="metric_table" class="table">
                    <tbody>
                        <tr>
                            <td align="right" class="col-md-5">not been active on the website for</td>
                            <td align="center" class="col-md-1"><input type="text" size="2"></td>
                        </tr>
                        <tr>
                            <td>
                                days: <input type="radio" name="unit_of_time" checked="checked">
                                weeks: <input type="radio" name="unit_of_time">
                                months: <input type="radio" name="unit_of_time">
                                years: <input type="radio" name="unit_of_time">
                            </td>
                        </tr>
                        <tr>
                            <td align="right">completed fewer than<t/d>
                            <td align="center"><input type="text" size="1" /></td>
                            <td align="left">job/s.</td>
                        </tr>
                        <tr>
                            <td align="right">failed to complete more than</td>
                            <td align="center"><input type="text" size="1" /></td>
                            <td align="left">job/s.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input id="apply_metrics" type="submit" value="Apply Metrics" action="{% url 'apply_metrics' %}" />
            </div>
        </div>
    </div>
</form>
{% endblock %}